<nav class="navbar sticky-top navbar-light bg-light">
    <img width="50%" alt="Paymentsense Logo" src="../assets/paymentsense-logo.svg">

    <form class="form-inline">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="search-icon-addon">
                    <fa-icon [icon]="faSearch"></fa-icon> 
                </span>
            </div>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" aria-describedby="search-icon-addon">
        </div>
    </form>
</nav>